[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Treinplanner
Name[nl]=Treinplanner
Icon=harbour-treinplanner
Exec=harbour-treinplanner
